h1 {
	text-align: center;
}

.container {
	float: left;
	margin-right: 10px;
	position: relative;
}

div p {
	padding: 10px;
	border: 3px solid black;
	margin: 40px;
	width: auto;
	background-color: green;
}

.col-lg-4 {
	border: 3px solid black;
	text-align: right;
	width: auto;
	margin: 40px;
}